@mixin flex($direction){
  display: flex;
  display: -webkit-flex;
  flex-direction:$direction;
}
@mixin background{
  background: #C9CCD3;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: lighten;
}

@mixin link-KH{
  position:relative;
  cursor:pointer;
  &:before{
    content: '[';
    left: -10px;
  }
  &:after{
    content:']';
    right:-10px;
  }
  &:before,&:after{
    opacity: 0;
    position:absolute;
    bottom:0px;
    transition:all .3s;
  }
  &:hover{
    &:before{
      left:-5px;
      opacity: 1;
    }
    &:after{
      right:-5px;
      opacity: 1;
    }
    &:focus,&:hover{
      outline:none;
    }
  }
}

@mixin tag-list{
  list-style: none;
  margin-right:5%;
  padding:0px;
  font-weight: normal;
  line-height: 1.1;
  font-family: "Cormorant Upright",serif;
  @include flex(row);
  flex-wrap: wrap;
  .tag-list-item{
    @include flex(row);
    position: relative;
    list-style: none;
    margin:0;
    padding:0;
    border:0;
    outline: 0;
    margin-bottom:2rem;
    color:#6d5c5a;
    &:last-child{
      &:after{
        content:none;
      }
    }
    &:after{
      content:'/';
      padding:0 1rem;
      color:#6d5c5a;
      font-size:2rem;
    }
    a{
      position:relative;
      color:#6d5c5a;
      cursor:pointer;
      font-size:2rem!important;
      &:before{
        content: '[';
        left: -10px;
      }
      &:after{
        content: ']';
        right: -10px;
      }
      &:after,&:before{
        position: absolute;
        bottom:0px;
        opacity: 0;
        transition: all .3s;
      }
      &:hover{
        &:before{
          left: -5px;
          opacity: 1;
        }
        &:after{
          right: -5px;
          opacity: 1;
        }
      }
      &:hover,&:focus{
        text-decoration: none;
        outline: none;
      }
    }
  }
}

//vue animation style
.fade{
  &-enter,&-leave-active{
    opacity: 0;
  }
  &-enter-active,&-leave-active{
    transition: opacity .5s;
  }
}

// .fade-enter,.fade-leave-active{
//   opacity: 0;
// }
// .fade-enter-active,.fade-leave-active{
//   transition: opacity .5s;
// }